In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as mlt
import numpy as np
%matplotlib inline

In [10]:
df = pd.read_csv('train.csv')

In [11]:
df = df[['Survived','Pclass','Sex','Age','SibSp','Parch','Fare']]

In [12]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [13]:
from sklearn import preprocessing
labelencoder = preprocessing.LabelEncoder()
labelencoder.fit(df['Sex'])
df['Sex']=labelencoder.transform(df['Sex'])
df=df.dropna()
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [14]:
Y =df['Survived']
df.pop('Survived')
X=df

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [31]:
from  sklearn.preprocessing  import StandardScaler

In [32]:
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [33]:
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [34]:
def print_score(clf, X_train, X_test, y_train, y_test, train = True):
#     print accuracy score, classification report, confusion metrics
    if train:
#         training performance
        print('Train Result : \n')
        print('Accuracy Score {0:.4f}\n'.format(accuracy_score(y_train, clf.predict(X_train))))
        print('Classification Report : \n {} \n'.format(classification_report(y_train, clf.predict(X_train))))
        print('Confusion Metrics : \n {} \n'.format(confusion_matrix(y_train, clf.predict(X_train))))
        
        res = cross_val_score(clf, X_train, y_train, cv = 10, scoring='accuracy')
        print('Average Accuracy : {0:.4f}\n'.format(np.mean(res)))
        print('Accuracy SD : {0:.4f}\n'.format(np.std(res)))
        
    elif train == False:
#         test performance
        print('Test Result : \n')
        print('Accuracy Score {0:.4f}\n'.format(accuracy_score(y_test, clf.predict(X_test))))
        print('Classification Report : \n {}\n'.format(classification_report(y_test, clf.predict(X_test))))
        print('Confusion Metrics : \n {} \n'.format(confusion_matrix(y_test, clf.predict(X_test))))

## Best model after Processing

In [35]:
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC

In [36]:
clf = BaggingClassifier(n_estimators=1000, base_estimator=SVC(C = 1, degree=2, cache_size=100))

In [37]:
clf.fit(X_train, Y_train)

BaggingClassifier(base_estimator=SVC(C=1, cache_size=100, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=2, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=1000, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [38]:
print_score(clf, X_train, X_test, Y_train, Y_test, train = True)
print_score(clf, X_train, X_test, Y_train, Y_test, train = False)

Train Result :

Accuracy Score 0.8459

Classification Report :
              precision    recall  f1-score   support

          0       0.83      0.92      0.88       337
          1       0.87      0.74      0.80       234

avg / total       0.85      0.85      0.84       571


Confusion Metrics :
 [[311  26]
 [ 62 172]]

Average Accuracy : 0.8303

Accuracy SD : 0.0524

Test Result :

Accuracy Score 0.8112

Classification Report :
              precision    recall  f1-score   support

          0       0.82      0.89      0.85        87
          1       0.80      0.70      0.74        56

avg / total       0.81      0.81      0.81       143


Confusion Metrics :
 [[77 10]
 [17 39]]